<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MODEL_MAP</key>
	<string></string>
	<key>API_VERSION</key>
	<string></string>
	<key>RELEASE_HOST</key>
	<string></string>
	<key>DEBUG_HOST</key>
	<string></string>
</dict>
</plist>
