<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MODEL_MAP</key>
	<dict>
		<key>star/news</key>
		<string>FDFeed</string>
	</dict>
	<key>API_VERSION</key>
	<string>v1</string>
	<key>RELEASE_HOST</key>
	<string></string>
	<key>DEBUG_HOST</key>
	<string>localhost:8000</string>
</dict>
</plist>
